apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: graphical-auth
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/charan1926/graphical-password-auth.git'
    path: 'apps/graphical-auth'
    targetRevision: HEAD
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
